# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Model files
models/
*.pkl

# IDE files
.vscode/
.idea/

# Pygame-specific
pygame_artifacts/

# Misc
.DS_Store 